<%- include('./partials/header.ejs') %>



<div class="container">
<div class="row">

<div class="col-sm-6 mt-5">
<h1>Add new Student</h1>
<hr>
<form method="POST">
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name"  placeholder="Your Name"/>
    </div>
   
    <div class="mb-3">
        <label class="form-label" for="phone">Phone</label>
        <input class="form-control" type="text" name="phone" id="phone" placeholder="Your Phone"/>
    </div>
   
    <div class="mb-3">
        <label class="form-label" for="age">Age</label>
        <input class="form-control" type="text" name="age"  id="age" placeholder="age"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="fees">Fees</label>
        <input class="form-control" type="text" name="fees" id="fees" placeholder="fees"/>
    </div>
   
    
    <div class="mb-3 form-button">
<button type="submit" class="btn btn-primary">Submit</button>    
</div>
</form>
</div>

<div class="col-sm-6 mt-5">
    <h1>List of Student</h1>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">no</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Fess</th>
                <th scope="col">Action</th>



            </tr>
        </thead>
        <tbody>
            <% var i =1 %>
            <% data.forEach((item)=>{ %>
                <tr>

                    <td><%= i++ %></td>
                    <td><%= item.name %></td>
                    <td><%= item.age %></td>
                    <td><%= item.phone %></td>
                    <td><%= item.fees %></td>
                    <td>
                    <form action="/student/edit/<%= item._id %>" method="get" class="d-inline">
                            <button class="btn btn-secondary">Edit</button>

                     </form>
                    <form action="/student/delete/<%= item._id %>"class="d-inline" method="post">
                            <button class="btn btn-warning">Delete</button>

                    </form>
                        
                    </td>
                </tr>
        

           <% })%>
            
        </tbody>

    </table>

</div>


</div>
</div>






<%- include('./partials/footer.ejs') %>





